@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

div {
    user-select: none; /* Prevents text from being highlighted*/
}

img {
    pointer-events: none;
}
.weather-panel {
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2%;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 15px;

    padding-top: 10%;
}

.search-bar input {
    height: 50px;
    width: 400px;

    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 25px;

    font-family: "Roboto Mono", monospace;
}

.searchimg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 25px;

    cursor: pointer;

    background-color: white;
}

.time {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.stat-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 600px;
    height: 200px;
}

.temperature-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location-title {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 20px;

    color: #e3e3e3;

    margin-top: 30px;
}

.temp {
    width: 400px;
    z-index: -1;

    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    margin-left: -40px;
}
.temp p {
    font-size: 150px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
   
    gap: 0;
   
    vertical-align: top;
    text-align: center;
    
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.2));
}

.temperature-logo {
    z-index: -2;
    border-radius: 20px;
}

.temperature-logo img {
    width: 250px;
    object-fit: cover;
    object-position: top;

    margin-top: -70px;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.2));
  }
  

.other-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    margin-top: 5%;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 150px;
    height: auto;

    background-color: #1c1c1c;
    box-shadow: 5px 5px #00000015;
    border-radius: 25px;
}
.stat h1 {
    font-size: 11px;
    font-family: "Karla", sans-serif;

    color: #b5b5b5;
}
.stat p { 
    font-family: "Nunito", sans-serif;
    font-weight: 600;

    color: #d7d7d7;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.2));

    margin: 0;
    margin-bottom: 5px;
}
.stat-text {
    width: 80px;

    margin-right: 8px;
}
.stat-logo {
    display: flex;
    justify-content: center;

    width: 50px;
    height: auto;
    
    border-radius: 25px;  
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.1));
}
.stat-logo img {
    width: 100%;
    height: auto;
}


